<div id="slideContent">
  <div id="slideBox">
    <ul>
      <li><%= link_to(image_tag("9/img0.jpg"),"#") %></li>
      <li><%= link_to(image_tag("9/img1.jpg"),"#") %></li>
      <li><%= link_to(image_tag("9/img2.jpg"),"#") %></li>
      <li><%= link_to(image_tag("9/img3.jpg"),"#") %></li>
      <li><%= link_to(image_tag("9/img4.jpg"),"#") %></li>
    </ul>
  </div>
  <div id="control">
    <p id="prev"><a><%= image_tag("9/prev.png") %></a><p>
    <p id="next"><a><%= image_tag("9/next.png") %></a></p>
  </div>
</div>
