<h1>[メニュー]アコーディオンメニュー</h1>
<div id="accordion">
  <dl>
    <dt><%= image_tag("4-01/menu0.png") %></dt>
    <dd><%= image_tag ("4-01/box0.gif") %></dd>
  </dl>
  <dl>
    <dt><%= image_tag("4-01/menu1.png") %></dt>
    <dd><%= image_tag("4-01/box1.gif") %></dd>
  </dl>
  <dl>
    <dt><%= image_tag("4-01/menu2.png") %></dt>
    <dt><%= image_tag("4-01/box2.gif") %></dt>
  </dl>
</div>

<h1>[メニュー]プルダウンメニュー</h1>
<div id="pulldown">
  <ul>
    <li id="menu0">
      <p><a href="#"><%= image_tag("4-02/menu0.png") %></a></p>
      <div>
        <ul>
          <li><a href="#"><%= image_tag("4-02/sub_menu0_0.png") %></a></li>
          <li><a href="#"><%= image_tag("4-02/sub_menu0_1.png") %></a></li>
          <li><a href="#"><%= image_tag("4-02/sub_menu0_2.png") %></a></li>
          <li><a href="#"><%= image_tag("4-02/sub_menu0_3.png") %></a></li>
          <li><a href="#"><%= image_tag("4-02/sub_menu0_4.png") %></a></li>
        </ul>
      </div>
    </li>
    <li id="menu1">
      <p><a href="#"><%= image_tag("4-02/menu1.png") %></a></p>
      <div>
        <ul>
          <li><a href="#"><%= image_tag("4-02/sub_menu1_0.png") %></a></li>
          <li><a href="#"><%= image_tag("4-02/sub_menu1_1.png") %></a></li>
          <li><a href="#"><%= image_tag("4-02/sub_menu1_2.png") %></a></li>
          <li><a href="#"><%= image_tag("4-02/sub_menu1_3.png") %></a></li>
          <li><a href="#"><%= image_tag("4-02/sub_menu1_4.png") %></a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<h1>[メニュー]エレベータメニュー</h1>
<div id="content">

  <div id="main">
    <div class="inner"></div>
  </div>

  <div id="side">
    <div id="floating">
      <p><a href="#"><%= image_tag("4-03/menu0.png") %></a></p>
      <ul>
        <li><a href="#"><%= image_tag("4-03/sub_menu.png") %></a></li>
        <li><a href="#"><%= image_tag("4-03/sub_menu.png") %></a></li>
        <li><a href="#"><%= image_tag("4-03/sub_menu.png") %></a></li>
        <li><a href="#"><%= image_tag("4-03/sub_menu.png") %></a></li>
        <li><a href="#"><%= image_tag("4-03/sub_menu.png") %></a></li>
        <li><a href="#"><%= image_tag("4-03/sub_menu.png") %></a></li>
        <li><a href="#"><%= image_tag("4-03/sub_menu.png") %></a></li>
      </ul>
    </div>
  </div>
</div>

<h1>[マウスオーバー]画像の切り替え</h1>
<div id="contents">

  <div id="main">
    <p><a href="#"><%= image_tag("4-04/menu1.png", class:"rollover") %></a></p>
  </div>

  <div id="side">
    <p><a href="#"><%= image_tag("4-04/menu2.png", class:"rollover") %></a></p>
  </div>

</div>

<div id="footer">
  <p><a href="#"><%= image_tag("4-04/menu3.png", class:"rollover") %></a></p>
</div>

<h1>[マウスオーバー]画像のアルファ（透明度）の変更</h1>
<div id="header">
  <p><a href="#"><%= image_tag("4-05/menu0.png", class:"fade") %></a></p>
</div>

<div id="contents">

  <div id="main">
    <p><a href="#"><%= image_tag("4-05/menu1.png", class:"fade") %></a></p>
  </div>

  <div id="side">
    <p><a href="#"><%= image_tag("4-05/menu2.png", class:"fade") %></a></p>
  </div>

</div>

<div id="footer">
  <p><a href="#"><%= image_tag("4-05/menu3.png", class:"fade") %></a></p>
</div>

<h1>[マウスオーバー]２枚の画像をクロスフェードで切り替え</h1>
<div id="header">
  <p><a href="#"><%= image_tag("4-06/menu0.png", class:"crossfade") %></a></p>
</div>

<div id="contents">

  <div id="main">
    <p><a href="#"><%= image_tag("4-06/menu1.png", class:"crossfade") %></a></p>
  </div>

  <div id="side">
    <p><a href="#"><%= image_tag("4-06/menu2.png", class:"crossfade") %></a></p>
  </div>

</div>

<div id="footer">
  <p><a href="#"><%= image_tag("4-06/menu3.png", class:"crossfade") %></a></p>
</div>
