<h1>[モーダルウィンドウ]同ファイル内のHTML要素を表示</h1>
<ul id="photos">
  <li><%= link_to(image_tag("8-5/tn0.jpg"), "#photo0") %></li>
  <li><%= link_to(image_tag("8-5/tn1.jpg"), "#photo1") %></li>
  <li><%= link_to(image_tag("8-5/tn2.jpg"), "#photo2") %></li>
  <li><%= link_to(image_tag("8-5/tn3.jpg"), "#photo3") %></li>
</ul>
<div class="hide">
  <div id="photo0">
    <p><%= image_tag("8-5/photo0.jpg", height: "427", width: "640", alt: "") %></p>
  </div>
  <div id="photo1">
    <p><%= image_tag("8-5/photo1.jpg", height: "534", width: "800", alt: "") %></p>
  </div>
  <div id="photo2">
    <p><%= image_tag("8-5/photo2.jpg", height: "427", width: "640", alt: "") %></p>
  </div>
  <div id="photo3">
    <p><%= image_tag("8-5/photo3.jpg", height: "427", width: "640", alt: "") %></p>
  </div>
</div>
